{% extends "base.html" %}
{% from "components/modal_register.html" import modal_register %}

{% block page_content %}

<div class="container-fluid vh-100">
    <div class="row">
        <div class="col-6 border-right vh-100 p-0">
            <img
                class="index-banner"
                src="{{ url_for('static', filename='assets/twitter-bg.png') }}" 
                alt="Banner do Twitter"
            >
        </div>
        <div class="col-6 index-content-container">
            <i class="bi bi-twitter twitter-logo"></i>

            <h3>Acontecendo agora</h3>
            <h6>Inscreva-se no Twitter agora mesmo</h6>

            <div>
                <button 
                    class="btn-primary-solid" 
                    data-toggle="modal"
                    data-target="#registerModal"
                >
                    Inscrever-se
                </button>
                
                <a
                    class="btn-primary-outline" 
                    href="{{ url_for('login') }}"
                >
                    Entrar
                </a>
            </div>
        </div>
    </div>

    {{ modal_register(form) }}
</div>

{% endblock %}