{% extends "base_dashboard.html" %}
{% from "components/tweet_card.html" import tweet_card %}
{% from "components/modal_edit.html" import modal_edit %}

{% block dashboard_content %}

<div class="profile-container">
    <header class="border-bottom">
        <a href="{{ url_for('dashboard') }}">
            <i class="bi bi-arrow-left"></i>
        </a>

        <div class="profile-header-container">
            <h5>
                {{ user.name }}
                {% if user.verified %}
                    <i class="bi bi-patch-check-fill"></i>
                {% endif %}
            </h5>
            <small>{{ tweets.count() }} tweets</small>
        </div>
    </header>

    <div class="profile-user-container">
        <div class="profile-cover-banner"></div>

        <div class="profile-user-info-container">
            <div class="profile-user-info">
                <div class="profile-avatar-container">
                    <img src="https://ui-avatars.com/api/?name={{ user.name }}" alt="Foto de perfil" >

                    {% if user.id == current_user.id %}
                        <button 
                            data-toggle="modal" 
                            data-target="#editModal" 
                            class="btn-primary-solid"
                        >
                            Editar perfil
                        </button>
                    {% endif %}
                </div>

                <h5>
                    {{ user.name }}

                    {% if user.verified %}
                        <i class="bi bi-patch-check-fill"></i>
                    {% endif %}
                </h5>
                <span>@{{ user.username }}</span>

                <div>
                    {% if not user.bio %}
                        <p>Nenhuma biografia inserida</p>
                    {% else %}
                        <p>{{ user.bio }}</p>
                    {% endif %}
                </div>

                <div class="profile-user-dates">
                    <span><i class="bi bi-calendar3"></i> Ingressou em {{ moment(user.created_at).format('MMMM [de] YYYY') }}</span>
                    <span class="ml-2"><i class="bi bi-suit-club"></i> Nascido(a) em {{ moment(user.birth_date).format('DD [de] MMMM') }} </span>
                </div>

            </div>

            <div class="profile-tweets-container">
                <header class="border-bottom">
                    <h6>Tweets</h6>
                </header>
            </div>

            {% if tweets.count() == 0 %}
                <div class="profile-tweet-empty-container">
                    {% if user.id == current_user.id %}
                        <h6>Você ainda não possui tweets</h6>
                    {% else %}
                        <h6>Esse usuário ainda não possui tweets</h6>
                    {% endif %}
                </div>
            {% else %} 
                {% for tweet in tweets %}
                    {{ tweet_card(tweet, moment, False, now) }}
                {% endfor %}
            {% endif %}

        </div>
    </div>



    {% if error_while_editing %}
        <div class="alert-container">
            <div class="alert alert-danger alert-dismissible fade show" role="alert">
                <span>Ocorreu um erro ao editar seu perfil. Tente novamente</span>
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
                </button>
            </div>
        </div>
    {% endif %}

    {{ modal_edit(current_user, form) }}
</div>

{% endblock %}