{% extends "base_dashboard.html" %}
{% from "components/tweet_card.html" import tweet_card %}

{% block dashboard_content %}

<div class="profile-container">
    <header class="border-bottom">
        <a href="{{ url_for('dashboard') }}">
            <i class="bi bi-arrow-left"></i>
        </a>

        <div class="profile-header-container">
            <h5>
                {{ user.name }}
                {% if user.verified %}
                    <i class="bi bi-patch-check-fill"></i>
                {% endif %}
            </h5>
            <small>{{ tweets.count() }} tweets</small>
        </div>
    </header>

    <div class="profile-user-container">
        <div class="profile-cover-banner"></div>

        <div class="profile-user-info-container">
            <div class="profile-user-info">
                <div class="profile-avatar-container">
                    <img src="https://ui-avatars.com/api/?name={{ user.name }}" alt="Foto de perfil" >

                    {% if user.id == current_user.id %}
                        <button class="btn-primary-solid">Editar perfil</button>
                    {% endif %}
                </div>

                <h5>
                    {{ user.name }}

                    {% if user.verified %}
                        <i class="bi bi-patch-check-fill"></i>
                    {% endif %}
                </h5>
                <span>@{{ user.username }}</span>

                <div>
                    {% if not user.bio %}
                        <p>Nenhuma biografia inserida</p>
                    {% else %}
                        <p>{{ user.bio }}</p>
                    {% endif %}
                </div>

                <div class="profile-user-dates">
                    <span><i class="bi bi-calendar3"></i> Ingressou em {{ moment(user.created_at).format('MMMM [de] YYYY') }}</span>
                    <span class="ml-2"><i class="bi bi-suit-club"></i> Nascido(a) em {{ moment(user.birth_date).format('DD [de] MMMM') }} </span>
                </div>

            </div>

            <div class="profile-tweets-container">
                <header class="border-bottom">
                    <h6>Tweets</h6>
                </header>
            </div>

            {% for tweet in tweets %}
                {{ tweet_card(tweet, moment, False, now) }}
            {% endfor %}
        </div>
    </div>
</div>

{% endblock %}