{% extends "base.html" %}

{% block page_content %}

<div class="container-fluid h-100">
    <div class="row not-found-container justify-content-center align-items-center vh-100 vw-100">
        <div class="col-3">
            <h5>404</h5>
            <h3>Você naufragou na praia da ilha Null (ilha Nula)</h3>

            <small>
                Não há nada além de coqueiros e areia por aqui. 
                <a href="{{ url_for('index') }}">Volte para a página inicial.</a>
            </small>
        </div>
        <div class="col-6">
            <img src="https://cdn.cms-twdigitalassets.com/content/dam/developer-twitter/random/Null-Island-2x.png.twimg.1920.png" 
                class="img-fluid"
            >
        </div>
    </div>
</div>

{% endblock %}