@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;400;500;700;900&display=swap');
* {
    font-family: "Montserrat"
}

/* Tema antigo
:root {
    --primary: #1da1f2;
    --primary-light: #e8f5fe;
    --primary-dark: #097ac0;

    --background: #181a1b;
    --text: #d1cdc7;
    --subtext: gray;

    --divider: #f7f9fa;
} */

/* Tema padrão */
:root {
    --primary: #1da1f2;
    --primary-light: #e8f5fe;
    --primary-dark: #097ac0;

    --background: #FFF;
    --text: #000;
    --subtext: rgb(161, 161, 161);

    --divider: #f7f9fa;
}

::-webkit-scrollbar {
    width: 0.3rem;
  }

::-webkit-scrollbar-track {
    background: var(--divider);
}
  
::-webkit-scrollbar-thumb {
    background: var(--primary);
    border-radius: 5px;
  
    transition: background 0.3s;
    cursor: pointer;
}

::-webkit-scrollbar-thumb:hover {
    background: #555;
}

/* Componentes Globais */
button {
    cursor: pointer;
}

.btn-primary-solid {
    color: #FFF;
    background: var(--primary);

    font-weight: bold;
    padding: 10px 30px;

    margin-right: 5px;

    border: 0;
    border-radius: 30px;

    cursor: pointer;

    transition: background 0.5s;
}

.btn-primary-solid:hover {
    background: var(--primary-dark);
    text-decoration: none;
}

.btn-primary-outline {
    color: var(--primary);
    background: white; 

    font-weight: bold;
    padding: 10px 30px; 

    margin-right: 5px;

    border: solid 1px var(--primary);
    border-radius: 30px;

    cursor: pointer;

    transition: background 0.5s;
}

.btn-primary-outline:hover {
    background: whitesmoke;
    text-decoration: none;
}

.twitter-logo {
    font-size: 2rem;
    color: var(--primary);
}

.twitter-input {
    border: solid gray 1.4px;
    padding: 13px;

    margin-bottom: 0.4rem;

    border-radius: 4px;
}

.twitter-input:hover {
    border: solid var(--primary) 1.4px;
    border-radius: 5px;
}

/* Página da Index */
.index-banner {
    height: 100%;
    width: 100%;

    object-fit: cover;
}

.index-content-container {
    padding: 7rem;

    display: flex;
    flex-direction: column;
    justify-content: center;
}

.index-content-container > div {
    margin-top: 4rem;
}

.index-content-container > h3 {
    font-weight: 800;
    font-size: 2.4rem;
}

/* Página de Login e de Registro */
.login-container, .register-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    height: 100%;
}

.login-container form,
.register-container form,
.login-container header,
.register-container header {
    width: 30%;
}

.login-container input,
.register-container input, 
.login-container button,
.register-container button {
    width: 100%;
}

.login-container input, 
.register-container input {
    margin-bottom: 1rem;
}

.login-container button, .login-container h3 {
    margin: 0;
}

.login-container h3, .register-container h3 {
    font-weight: 800;
}

.login-container header, .register-container header {
    margin-bottom: 1.3rem;
}

.register-container {
    margin: 5rem 0rem;
}

/* Modal de Registro */
#registerModal form {
    display: flex;
    flex-direction: column;
}

#registerModal form > input {
    width: 100%;
    margin-bottom: 1rem;
}

#registerModal form > button {
    margin-top: 1.3rem;
}

#registerModal .modal-title {
    font-weight: 800;
}

#registerModal .modal-dialog {
    width: 40%;
}

#registerModal .modal-content {
    border-radius: 0.8rem;

    padding: 1.7rem;
}

/* Página de Registro */
.register-input-group {
    margin-bottom: 1rem;
}

.register-input-group input {
    margin-bottom: 0;
}

.register-input-group span  {
    margin-top: 0.3rem;
}

/* Template de Dashboard */
.dashboard-container {
    display: flex;
    justify-content: center;
    height: 100%;
}

.dashboard-sidenav-container {
    height: 100vh;
    
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.dashboard-sidenav {
    display: flex;
    flex-direction: column;

    align-items: center;
    width: 100%;

    list-style-type: none;
    padding: 0;
}

.dashboard-sidenav li {
    margin-top: 10px;
    width: 100%;
}

.dashboard-sidenav button {
    width: 100%;
}

.dashboard-sidenav-link {
    color: var(--text);
    background: transparent;

    display: flex;
    align-items: center;

    width: 100%;
    padding: 10px;

    text-transform: none;
    font-weight: 700;

    border: 0;
    border-radius: 30px;
}

.dashboard-sidenav-link:hover {
    color: var(--primary);
    background-color: var(--primary-light);

    text-decoration: none;
}

.dashboard-sidenav-link:disabled {
    cursor: default;
    padding: 0px 10px;
}

.dashboard-sidenav-link:disabled:hover {
    background: transparent;
}

.dashboard-sidenav-link-active {
    color: var(--primary);
    background-color: var(--primary-light);
}

.dashboard-sidenav-link i {
    margin-right: 1rem;
    font-size: 1.5rem;
}

.dashboard-sidenav-link-icon {
    width: 50px;

    display: flex;
    align-items: center;
    justify-content: center;
}

.dashboard-sidenav-avatar {
    cursor: pointer;

    height: 80px;
    padding: 10px 5px;

    border-radius: 30px;
}

.dashboard-sidenav-avatar img {
    width: 40px;
    height: 40px;

    border-radius: 100%;
}

.dashboard-sidenav-avatar div:last-child {
    width: 80%;

    margin-left: 0.3rem;

    text-align: left;
}

.dashboard-sidenav-avatar div:last-child h6 {
    font-weight: 700;
}

.dashboard-sidenav-avatar div:last-child h6,
.dashboard-sidenav-avatar div:last-child small {
    margin: 0;

    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.popover-body {
    padding: 0 !important;
    width: 240px;
}

.popover-body .list-group-item {
    border: 0 !important;
    color: var(--text);
}

/* Página de Home */
.home-container, .profile-container {
    height: 100vh;
    overflow-y: scroll;

    padding-bottom: 100px;
}

.home-container > header {
    display: flex;

    padding: 1rem;
}

.home-container header h4, 
.profile-container header h5 {
    margin: 0;
    font-weight: 700;
}

.home-input-container {
    width: 100%;
    display: flex;
}

.home-input-avatar {
    width: 20%;

    display: flex;
    justify-content: center;

    padding: 0.5rem 0.8rem;
}

.home-input-avatar img {
    border-radius: 100%;

    width: 70px;
    height: 70px;
}

.home-input {
    width: 100%;

    padding: 0.5rem 1rem 0rem 0rem;
}

.home-input textarea {
    width: 100%;

    background-color: transparent;

    border: 0;
    padding: 10px;
    font-size: 1rem;

    resize: none;
}

.home-input-action-container {
    display: flex;
    justify-content: space-between;
    align-items: center;

    padding: 0rem 1rem;
}

.home-input-action-container button {
    width: auto;
    height: 40px;

    padding: 0rem 1rem;
}

.home-timeline-divider {
    height: 0.7rem;
    background-color:  var(--divider);

    margin: 1rem 0rem;
}

/* Macro de Tweet Card */
.tweet-card {
    width: 100%;
    display: flex;

    padding: 1rem 0rem;
}

.tweet-card-avatar {
    width: 20%;

    display: flex;
    justify-content: center;

    padding: 0.5rem 0rem;
}

.tweet-card-avatar img {
    border-radius: 50%;

    /* width: 50px;
    height: 50px; */
}

.tweet-card-content {
    width: 100%;
    padding-right: 1rem;
}

.tweet-card-content > header {
    display: flex;
    align-items: center;
    justify-content: flex-start;

    padding: 0.3rem 0rem 0.4rem 0rem;
}

.tweet-card-content > header > span {
    color: var(--subtext);
}

.tweet-card-content > header > span:first-child {
    font-weight: 700;
    color: var(--text);

    margin-right: 0.5rem;

    max-width: 50%;

    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.tweet-card-content > header > span:last-child {
    margin-left: 0.5rem;
    padding-left: 0.5rem;
    position: relative;
}

.tweet-card-content > header > span:last-child::before {
    content: "";
    width: 4px;
    height: 4px;
    border-radius: 2px;
    background: var(--subtext);
    position: absolute;
    left: 0;
    top: 50%;

    transform: translate(-50%, -50%);
}

.tweet-card-content i, 
.profile-user-info i,
.profile-header-container i {
    color: var(--primary);
}

/* Página de Perfil */
.profile-container > header {
    display: flex;

    /* align-items: center;
    justify-content: flex-start; */

    padding: 0.5rem 1rem;
}

.profile-container header a {
    display: flex;
    justify-content: center;
    align-items: center;

    width: 40px;
    height: 40px;

    padding: 0.5rem;

    color: var(--primary);
    font-weight: bold;

    border-radius: 100%;
    margin-right: 1.4rem;
}

.profile-container header a:hover {
    background: var(--primary-light);
}

.profile-container .alert-container {
    position: absolute;

    display: flex;
    justify-content: center;
    align-items: center;

    width: 100%;

    bottom: 1rem;
}

.profile-header-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.profile-user-container {
    position: relative;
}

.profile-user-info-container {
    position: absolute;

    top: 90px;
    width: 100%;
}

.profile-avatar-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    align-self: stretch;
}

.profile-avatar-container img {
    width: 150px;
    height: 150px;

    border: 7px var(--background) solid;
    border-radius: 100%;
}

.profile-cover-banner {
    height: 200px;
    background: var(--primary-light);
}

.profile-user-info {
    padding: 1rem;
}

.profile-user-info h5 {
    font-weight: 800;
    margin: 0;
}

.profile-user-info span, 
.profile-user-dates i {
    color: var(--subtext);
}

.profile-user-info > span:last-child {
    font-size: 0.875rem;
}

.profile-user-info div {
    margin: 1.2rem 0rem;
    font-size: 0.9375rem;
}

.profile-user-dates span {
    font-size: 0.875rem;
}

.profile-tweets-container > header {
    padding: 1rem;
}

.profile-tweets-container h6 {
    font-weight: 700;
    color: var(--primary);
}

.profile-tweet-empty-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    padding: 7rem 0rem;
    width: 100%;
}

.profile-tweet-empty-container h6 {
    font-weight: 800;
}

/* #editModal .modal-body {
    position: relative !important;
}

#editModal .profile-avatar-container {
    z-index: 5;
}

#editModal .profile-cover-banner {
    position: absolute;

    width: 100%;
    height: 200px;

    z-index: 2;
} */

#editModal h5 {
    font-weight: 800;
}

#editModal .modal-body {
    position: relative;
}

#editModal .profile-cover-banner {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100px;
    background-color: var(--primary-light);

    z-index: 1;
}

#editModal .profile-content {
    padding: 1rem;
}

#editModal input, textarea {
    width: 100%;
}

#editModal .profile-user-info {
    padding: 1rem 0rem;
}

#editModal .profile-avatar-container {
    padding: 0rem;
}

#editModal .profile-avatar-container img {
    width: 100px;
    height: 100px;
}

#editModal .profile-content {
    position: relative;
    z-index: 5;
}