{% extends "base.html" %}

{% block page_content %}

<div class="container vh-100 p-0">
    <div class="row justify-content-center h-100">
        <div class="col-3 dashboard-sidenav-container border-right p-4">
            <div class="row justify-content-center p-3">

                <ul class="dashboard-sidenav">
                    <li class="d-flex justify-content-center w-100">
                        <button class="dashboard-sidenav-link" disabled>
                            <div class="dashboard-sidenav-link-icon">
                                <i class="bi bi-twitter twitter-logo"></i>
                            </div>
                        </button>
                    </li>
                    <li>
                        <a href="" 
                            class="dashboard-sidenav-link {{'dashboard-sidenav-link-active' if active_page == 'home' }}">
                            <div class="dashboard-sidenav-link-icon">
                                <i class="bi bi-house"></i>
                            </div>
                            Página Inicial
                        </a>
                    </li>
                    <li>
                        <a href="" class="dashboard-sidenav-link {{'dashboard-sidenav-link-active' if active_page == 'profile' }}">
                            <div class="dashboard-sidenav-link-icon">
                                <i class="bi bi-person-circle"></i>
                            </div>
                            Perfil
                        </a>
                    </li>
                    <li>
                        <button class="btn-primary-solid">
                            Tweetar
                        </button>
                    </li>
                    <li>
                        <a href="">Sair</a>
                    </li>
                </ul>

            </div>
        </div>
        <div class="col-6 h-100 p-0 border-right">
            {% block dashboard_content %}

            {% endblock %}
        </div>
    </div>
</div>

{% endblock %}