{% macro tweet_card(tweet, moment, profile_redirect, current_date) -%}

<div class="tweet-card border-bottom">
    <div class="tweet-card-avatar">
        {% if profile_redirect %} 
            <a href="{{ url_for('profile', username = tweet.username ) }}">
                <img src="https://ui-avatars.com/api/?name={{ tweet.name }}" alt="Foto de Perfil" >
            </a>
        {% else %}
            <img src="https://ui-avatars.com/api/?name={{ tweet.name }}" alt="Foto de Perfil" >
        {% endif %}
    </div>
    <div class="tweet-card-content">
        <header>
            <span>
                {{ tweet.name }}

                {% if tweet.verified %}
                    <i class="bi bi-patch-check-fill"></i>
                {% endif %}
            </span>
            <span>@{{ tweet.username }}</span>
            <span>{{ moment(tweet.tweeted_at).fromTime(current_date, refresh=True) }}</span>
        </header>

        <div>
            <p>{{ tweet.tweet }}</p>
        </div>
    </div>
</div>

{%- endmacro %}